html {
    background-color: #474b4f;
    margin-right: auto;
    margin-left: auto;
    padding: 0px;
    overflow-x: hidden;
}

.modal-card-title {
        inline-size: 150px;
        overflow-wrap: break-word;
    }
/* main {
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: rgba(0, 0, 0, 0.3)
} */

button, input {
    cursor: pointer;
    background-position: center;
}

form {
    margin: 1em;
}

a {
    color: #025d21 !important;
}

img {
    border-radius: 1em;
    box-shadow: 0 0 3px 3px #00000033;
}

body{
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff !important;
}

/* title positioning */
h1 {
    margin-bottom: 0px;
    padding-bottom: 15px;
    text-align: center;
}

.title {
    text-shadow: 2px 2px 10px #00000044;
}

/* title size */
.title.is-1 {
    font-size: 7vw;
}

/* subtitle spacing and size */
.title.is-4 {
    font-size: 2.75vw;
    padding-bottom: 30px;
}

@media screen and (min-width: 2100px) {
    .title.is-1 {
        font-size: 5vw;
        margin-top: 1em;
    }
    .title.is-4 {
        font-size: 2vw;
        margin-bottom: 1em;
    }
}

/* Checkbox Titles */
.content h1 {
    font-size: 32px;
}

/* subtitle positioning */
.content h3,
h4 {
    margin-bottom: 2px;
    margin-left: -4px;
    text-align: center;
}