html {
    background-color: #474b4f;
    margin-right: auto;
    margin-left: auto;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
}

main {
    height: 100vh;
    /* / position:fixed; */
    /* overflow-y: scroll; */
    overflow-y: auto;
    background-color: rgba(0,0,0,0);
}

body::-webkit-scrollbar{
    display: none;
}

  /* main::-webkit-scrollbar{
    display: none;
  } */

.hero {
    background-image: linear-gradient(
        180deg,
        hsl(240deg 5% 18%) 0%,
        hsl(261deg 16% 21%) 6%,
        hsl(279deg 27% 24%) 21%,
        hsl(299deg 37% 27%) 55%,
        hsl(318deg 47% 30%) 80%,
        hsl(338deg 58% 33%) 91%,
        hsl(357deg 69% 35%) 96%,
        hsl(16deg 79% 38%) 99%,
        hsl(35deg 90% 41%) 100%,
        hsl(55deg 100% 44%) 100%
      );
border-bottom: 1px solid black;
box-shadow: 0 0 10px 10px #00000033;
}

button, input {
    cursor: pointer;
    background-position: center;
}

form {
    margin: 1em;
}

a {
    color: #025d21 !important;
}

img {
    border-radius: 1em;
    box-shadow: 0 0 3px 3px #00000033;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.no-results-text {
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: larger;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff !important;
}

/* title positioning */
h1 {
    margin-bottom: 0px;
    padding-bottom: 15px;
    text-align: center;
}

.title {
    text-shadow: 2px 2px 10px #00000044;
}

/* title size */
.title.is-1 {
    font-size: 7vw;
}

/* subtitle spacing and size */
.title.is-4 {
    font-size: 2.75vw;
    padding-bottom: 30px;
}

@media screen and (min-width: 2100px) {
    .title.is-1 {
        font-size: 5vw;
        margin-top: 1em;
    }
    .title.is-4 {
        font-size: 2vw;
        margin-bottom: 1em;
    }
}

/* Checkbox Titles */
.content h1 {
    font-size: 32px;
}

/* subtitle positioning */
.content h3,
h4 {
    margin-bottom: 2px;
    margin-left: -4px;
    text-align: center;
}

/* main {
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: rgba(0, 0, 0, 0.3)
} */

.modal {
    max-width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal-card-title {
    inline-size: 150px;
    overflow-wrap: break-word;
}
#recipe-id {
    /* color: white; */
    display: none !important;
}

.has-text-black:hover {
    color: purple !important;
}

.result-card {
    background: rgba(0,0,0,0.5) !important;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
}

/* .heart {
    color: red;
} */